@import "../../styles/common/mixins.scss";
@import "../../styles/common/vars.scss";

.ml-search{
    height: 38px;
    width: 600px;
    position: relative;
    overflow: hidden;
    @media #{$sm}{
        width: 100%;
        margin-top: 10px;
    }
    &.active{
        overflow: initial;
    }
    .ml-search-wrapper{
        @include flex-row-center;
        @include shadow;
        height: 100%;
        width: 100%;
        background-color: $white;
        position: absolute;
        left: 0;
        top: 0;
        .ml-search-input{
            outline: 0;
            border: 0;
            height: 100%;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            font: {
                weight: 400;
                size: 15px;
            }
            &::placeholder{
                color: rgba($black, 0.3);
            }
            &:hover, &:focus{
                outline: 0;
                border: 0;
            }
        }
        .ml-search-button{
            background: transparent;
            height: 38px;
            width: 48px;
            border: 0;
            @include flex-row-center;
            position: relative;
            cursor: pointer;
            &:after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 28px;
                background-color: rgba($black, 0.2);
                position: absolute;
                left: 0px;
                top: 5px;
            }
            .ml-navbar-icon{
                font-size: 16px;
                color: $black;
            }
        }
    }
    .ml-search-list{
        position: absolute;
        width: 100%;
        height: auto;
        top: 38px;
        left: 0px;
        background-color: $white;
        @include shadow;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        border-top: 1px solid rgba($black, 0.2);
        border-left: 1px solid rgba($black, 0.05);
        border-right: 1px solid rgba($black, 0.05);
        a {
            width: 100%;
        }
        .ml-search-list-element{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            font: {
                size: 16px;
                weight: 600;
            }
            color: $black;
            @include animate;
            cursor: pointer;
            height: 42px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            &.official{
                font-weight: 400;
            }
            .ml-search-list-icon{
                color: rgba($black, 0.5);
                font-size: 14px;
                display: inline-block;
                margin-right: 10px;
            }
            .ml-search-list-element-text{
                @include text-overflow;
                .ml-search-list-element-link{
                    color: $color-2;
                    &:visited, &:focus{
                        color: $color-2;
                    }
                }
            }
            &:hover{
                color: $white;
                background-color: $color-2;
                .ml-search-list-icon{
                    color: $white;
                }
                .ml-search-list-element-link{
                    color: $white;
                    &:visited, &:focus{
                        color: $white;
                    }
                }
            }
        }
    }
}
