@import "../../styles/common/mixins.scss";
@import "../../styles/common/vars.scss";

.ml-button{
    height: 42px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font: {
        weight: 400;
        size: 18px;
    }
    text: {
        align: center;
        transform: capitalize;
    }
    color: $white;
    &.full{
        width: 100%;
    }
    &.color-1{
        background-color: $color-1;
    }
    &.color-2{
        background-color: $color-2;
    }

    &.disabled{
        cursor: not-allowed;
        opacity: 0.25;
    }
}
