@import "../../styles/common/mixins.scss";
@import "../../styles/common/vars.scss";

.ml-button{
    height: 42px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    &.color-1{
        background-color: $color-1;
    }
    &.color-2{
        background-color: $color-2;
    }
}
