@import "../../assets/fonts/meli-font.css";
@import "./mixins.scss";
@import "./vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

h1, h2, h3, h4, h5, h6, p, span, a, figure, article, section {
    @include clean-webkit;
    @include zero-soft;
}

ul, li {
    @include clean-list;
    @include zero-soft;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Proxima Nova';
    box-sizing: border-box;
} 

body{
    font-family: 'Proxima Nova', 'Monserrat';
    padding-top: 50px;
    background-color: $grey;
    position: relative;
}

.root{
    width: 100%;
}

.ml-layout{
    max-width: 960px;
    display: block;
    margin:  0 auto;
    padding: 20px;
}