@import "../../styles/common/mixins.scss";
@import "../../styles/common/vars.scss";

.ml-navbar{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    @include shadow;
    .ml-navbar-brand{
        height: 36px;
    }
    &.color-1{
        background-color: $color-1;
    }
}
