@import "../common/mixins.scss";
@import "../common/vars.scss";

.ml-section-product-view{
    width: 100%;
    padding: 20px;
    background-color: $white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    @media #{$sm}{
        grid-template-columns: 1fr;
    }
    .ml-product-view-image-wrapper{
        @include flex-row-center;
        .ml-product-view-image{
            width: 400px;
            height: 400px;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            }
            @media #{$sm}{
                width: 100%;
                height: 300px;
            }
        }
    }
    .ml-product-view-details-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        @media #{$sm}{
            justify-content: flex-start;
        }
        .ml-product-view-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            .ml-product-view-details-intro{
                margin-bottom: 10px;
                color: $black;
                font: {
                    size: 13px;
                    weight: 400;
                }
            }
            .ml-product-view-details-title{
                margin-bottom: 10px;
                color: $black;
                font: {
                    size: 18px;
                    weight: 600;
                }
            }
            .ml-product-view-price{
                margin-bottom: 40px;
                color: $black;
                font: {
                    size: 28px;
                    weight: 500;
                }
            }
        }
    }
    .ml-product-view-description{
        padding-top: 40px;
        .ml-product-view-description-title{
            margin-bottom: 10px;
            color: $black;
            font: {
                size: 18px;
                weight: 500;
            }
        }
        .ml-product-view-description-text{
            margin-bottom: 10px;
            color: rgba($black, 0.75);
            font: {
                size: 13px;
                weight: 400;
            }
        }
    }
}

.ml-product-list{
    background-color: $white;
    width: 100%;
    padding: 0px 20px 0px 20px;
    .ml-product-list-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        width: 100%;
        .ml-empty{
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
            width: 100%;
        }
        .ml-product-list-element{
            width: 100%;
            border-bottom: 1px solid rgba($black, 0.1);
            padding-bottom: 20px;
            padding-top: 20px;
            &:last-of-type{
                margin-bottom: 0px;
                border-bottom: 0;
            }
            .ml-product-list-article{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                position: relative;
                @media #{$sm}{
                    justify-content: flex-start;
                }
                .ml-product-list-element-wrapper{
                    @include flex-row-center;
                    width: 100%;
                    .ml-product-list-element-image{
                        width: 200px;
                        height: 200px;
                        margin-right: 20px;
                        @media #{$sm}{
                            width: 150px;
                            min-width: 150px;
                            height: auto;
                        }
                    }
                    .ml-product-list-description{
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: flex-start;
                        align-content: flex-start;
                        justify-content: flex-start;
                        width: 100%;
                        .ml-product-list-description-title{
                            width: 100%;
                            margin-top: 10px;
                            color: $black;
                            font: {
                                size: 16px;
                                weight: 400;
                            }
                        }
                        .ml-product-list-description-price{
                            color: $black;
                            font: {
                                size: 21px;
                                weight: 500;
                            }
                        }
                    }
                }
                .ml-product-list-description-condition{
                    width: 200px;
                    align-self: flex-start;
                    color: $black;
                    text: {
                        align: center;
                        transform: capitalize;
                    }
                    font: {
                        size: 14px;
                        weight: 400;
                    }
                    @media #{$sm}{
                        position: absolute;
                        left: calc(50% - 30px);
                        top: 0;
                        width: calc(50% + 30px);
                        text-align: left;
                    }
                }
            }
        }
    }
}
